{% extends 'admin/master.html' %}


{% set term = [] %}
{% set cach = [] %}
{% set all_orders = [] %}
{% set paid = [] %}

{% block body %}

{% if current_user.is_admin %}
<a class="btn btn-primary btn-sm" href="{{ url_for('simple_order') }}" role="button">Создать самовывоз</a>
{% endif %}

<a class="btn btn-primary btn-sm" href="{{ url_for('order_list') }}" role="button">Заказы</a>
<hr>

	{% for courier in couriers %}
	
	{% set shift =  check(courier) %}
	{% if shift %}
		<h4>{{ courier }}</h4>
		{{ shift }}
		
		{%if shift['Терминал'] %}
		{% do term.append(shift['Терминал']) %}
		{% endif %}

		{%if shift['Наличные'] %}
		{% do cach.append(shift['Наличные']) %}
		{% endif %}

		{% do all_orders.append(shift['Всего заказов']) %}

		{% if shift['Оплачено'] %}
		{% do paid.append(shift['Оплачено']) %}
		{% endif %}

	{% endif %}
	{% endfor %}
	<hr>
	<h2>Итого:</h2>
	<p>Всего заказов: {{ all_orders|sum }} шт.</p>
	<p>Терминал: {{ term|sum }} ₽</p>
	<p>Наличные: {{ cach|sum }} ₽</p>
	<p>Оплачено: {{ paid|sum }} ₽</p>
	<p>Общая Сумма: {{ term|sum + cach|sum + paid|sum }} ₽</p>
{% endblock %}

