{% extends 'admin/master.html' %}

{% set term = [] %}
{% set cach = [] %}
{% set all_orders = [] %}
{% set paid = [] %}

{% block body %}
	{% for courier in couriers %}
	
	{% set shift =  check(courier) %}
	{% if shift %}
		<h4>{{ courier }}</h4>
		{{ shift }}
		
		{%if shift['Терминал'] %}
		{% do term.append(shift['Терминал']) %}
		{% endif %}

		{%if shift['Нужно сдать'] %}
		{% do cach.append(shift['Нужно сдать']) %}
		{%elif shift['Наличные'] %}
		{% do cach.append(shift['Наличные']) %}
		{% endif %}

		{% do all_orders.append(shift['Всего заказов']) %}

		{% if shift['Оплачено'] %}
		{% do paid.append(shift['Оплачено']) %}
		{% endif %}

	{% endif %}
	{% endfor %}
	<hr>
	<h2>Итого:</h2>
	<p>Всего заказов: {{ all_orders|sum }} шт.</p>
	<p>Терминал: {{ term|sum }} ₽</p>
	<p>Наличные: {{ cach|sum }} ₽</p>
	<p>Оплачено: {{ paid|sum }} ₽</p>
	<p>Общая Сумма: {{ term|sum + cach|sum + paid|sum }} ₽</p>
{% endblock %}

