<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Доставка</title>
        {% endblock %}
    </head>
    <body>
		<!-- Your page content -->
		{% block navbar %}
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Главная</a>
				</li>
				{% if current_user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('create_order') }}">Создать Заказ</a>
				</li>
				{% endif %}
                {% if current_user.is_admin %}
                <li class="nav-item">
                    <a class="nav-link "href="{{ url_for('locations') }}">Тарифы курьеров</a>
                </li>
                {% endif %}
			</ul>
		{% endblock %}
		<hr>
		{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>
